@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proseca.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <AuthorizeView Roles="Admin,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Animales">
                        <img style="width:50px; height:50px" src="Icons/vaca.png" />
                        Animal
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>




        <AuthorizeView Roles="Admin,User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Fincas">
                        <img style="width:40px; height:40px; margin-right: 8px;" src="Icons/granero.png" />
                        Finca
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>


        <AuthorizeView Roles="Admin,User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EventosDeSalud">
                        <img style="width:40px; height:40px; margin-right: 8px;" src="/Icons/evento.png" />
                        EventoDeSalud
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView> *



        <AuthorizeView Roles="Admin,User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Vacunas">
                        <img style="width:40px; height:40px; margin-right: 8px;" src="Icons/Vacuna.png" />
                        Vacuna
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView> *


        <AuthorizeView Roles="Admin,User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/vacunas/transaccion">
                        <img style="width:40px; height:40px; margin-right: 8px;" src="Icons/informes.png" />
                        Transacción Salud
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView> *






        <AuthorizeView Roles="Admin,User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Reproducciones">
                        <img style="width:40px; height:40px; margin-right: 8px;" src="Icons/Reproduccion.png" />
                        Reproduccion
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView> *



        <AuthorizeView Roles="Admin,User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ProduccionesLeche">
                        <img style="width:40px; height:40px; margin-right: 8px;" src="Icons/Leche.png" />
                        Produccion de Leche
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>

        @*

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <img style="width:40px; height:40px; margin-right: 8px;" src="/Icons/evento.png" />
                Ingresar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Logout">
                <img style="width:40px; height:40px; margin-right: 8px;" src="/Icons/evento.png" />
                Cerrar sesion
            </NavLink>
        </div>

        *@

        <AuthorizeView Roles="Admin">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Register">
                        <img style="width:45px; height:45px; margin-right: 8px;" src="/Icons/vaquero.png" />
                        Registrar Usuario
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EditUser">
                        <img style="width:45px; height:45px; margin-right: 8px;" src="/Icons/vaquero.png" />
                        Editar Usuario
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>




    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
